<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #313030;">
<div style="background-color: #337ab7; height: 50px;"></div>
<div class="container-fluid" style="margin-top: 30px;">

    <div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #0f0f0f; padding: 20px; border: solid 1px #0f0f0f;">
        <form autocomplete="off" action="#" th:action="@{/create-survey}" th:object="${survey}" method="post" class="form-signin" role="form">
            <h3 class="form-signin-heading"style="font-size: 20; color: #ededed;">Création d'un sondage</h3>
            <a href="/home">Retour à la page d'accueil</a>
            <br /><br />
            <div class="form-group">
                <div class="">
                    <input type="text" th:field="*{name}" placeholder="Nom du sondage" class="form-control" style="background-color:#0f0f0f;padding:20px;border:solid 1px #ededed;" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input th:type="date" name="date" th:field="*{date}" placeholder="Date" class="form-control" style="background-color:#0f0f0f;padding:20px;border:solid 1px #ededed;" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" th:field="*{activity}" placeholder="Activité" class="form-control" style="background-color:#0f0f0f;padding:20px;border:solid 1px #ededed;" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input th:type="number" min="2" value="664" th:field="*{attendance}" placeholder="Affluence" id="attendance" class="form-control" style="background-color:#0f0f0f;padding:20px;border:solid 1px #ededed;" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <select th:field="*{city_id}" style="font-size: 20; color: #ededed; background-color:#0f0f0f;padding:1px;border:solid 1px #ededed;" >
                        <option th:each="city,status: ${cities}"
                                th:value="${status.index}+1"
                                th:text="${city}" style="font-size: 20; color: #ededed; background-color:#0f0f0f;padding:1px;border:solid 1px #ededed;"/>
                    </select>
                </div>
            </div>
            <div class="form-group" style="display: none;">
                <div class="">
                    <input th:type="number" th:field="*{user_id}" placeholder="User_id" id="user_id" class="form-control" />
                </div>
            </div>


            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-primary btn-block">Confirmer</button>
                </div>
            </div>

            <span th:utext="${message}"></span>
            <div class="alert alert-success alert-dismissible col-sm-12"
                 th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">×</button>
                <ul th:each="data : ${bindingResult.getAllErrors()}">
                    <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
                </ul>
            </div>
        </form>
    </div>
</div>
</body>

<script type="text/javascript">
        $(document).ready(function() {
            $("#attendance").val('');
            $("#user_id").val(1);

        });
    </script>
</html>