<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Accueil</title>
        <link href="/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body  style="background-color: #313030;">
        <div style="background-color:#337ab7;height:50px;">
            <p style="color:white;text-align: center;padding-top:1%"> HELLO USER, WELCOME HOME</p>
        </div>

        <div class="contenu" style="margin-left:10px">

            <div class="vos-sondages">
                <h2 class="form-signin-heading" style="font-size: 20; color: #ededed;">LISTE DE VOS SONDAGES</h2>
                <table style="border: 1px solid white">
                    <thead style="border: 1px solid white">
                        <tr style="border: 1px solid white">
                            <th style="font-size: 20; color: #ededed; background-color:#0f0f0f;padding:20px;border:solid 1px #ededed;" >Nom du sondage</th>
                            <th style="font-size: 20; color: #ededed; background-color:#0f0f0f;padding:20px;border:solid 1px #ededed;" >Activite</th>
                            <th style="font-size: 20; color: #ededed; background-color:#0f0f0f;padding:20px;border:solid 1px #ededed;" >Nombre de personnes</th>
                            <th style="font-size: 20; color: #ededed; background-color:#0f0f0f;padding:20px;border:solid 1px #ededed;" >Createur du sondage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="sondage: ${sondages}" style="border: 1px solid white">
                            <td style="font-size: 20; color: #ededed; border: 1px solid white;text-align: center" th:text="${sondage.name}" />
                            <td style="font-size: 20; color: #ededed; border: 1px solid white;text-align: center" th:text="${sondage.activity}" />
                            <td style="font-size: 20; color: #ededed; border: 1px solid white;text-align: center" th:text="${sondage.attendance}" />
                            <td style="font-size: 20; color: #ededed; border: 1px solid white;text-align: center" th:text="CREATEUR" />

                            <!--  ******  CHANGEMENT *******  -->

                            <td>
                                <a  target="/home">
                                    <button class="btn btn-lg btn-primary deleteBtn"
                                            th:onclick="'javascript:deleteSurvey(' + ${sondage.survey_id} + ')'"
                                            type="Submit" style="margin-right:10px;">
                                        X
                                    </button>
                                </a>
                            </td>

                            <!--  *************************  -->

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="btnCreate" style="margin-top:20px">
                <a href="/create-survey">
                    <button class="btn btn-lg btn-primary" type="Submit" style="margin-right:10px;">
                        Créer un sondage
                    </button>
                </a>
            </div>

            <div class="all-sondages">
                <h2 class="form-signin-heading" style="font-size: 20; color: #ededed;">LISTE DE TOUS LES SONDAGES</h2>
                <table style="border: 1px solid white">
                    <thead style="border: 1px solid white">
                    <tr style="border: 1px solid white">
                        <th style="font-size: 20; color: #ededed; background-color:#0f0f0f;padding:20px;border:solid 1px #ededed;" >Nom du sondage</th>
                        <th style="font-size: 20; color: #ededed; background-color:#0f0f0f;padding:20px;border:solid 1px #ededed;" >Activite</th>
                        <th style="font-size: 20; color: #ededed; background-color:#0f0f0f;padding:20px;border:solid 1px #ededed;" >Nombre de personnes</th>
                        <th style="font-size: 20; color: #ededed; background-color:#0f0f0f;padding:20px;border:solid 1px #ededed;" >Createur du sondage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="all_sondage: ${all_sondages}" style="border: 1px solid white">
                        <td style="font-size: 20; color: #ededed; border: 1px solid white;text-align: center" th:text="${all_sondage.name}" />
                        <td style="font-size: 20; color: #ededed; border: 1px solid white;text-align: center" th:text="${all_sondage.activity}" />
                        <td style="font-size: 20; color: #ededed; border: 1px solid white;text-align: center" th:text="${all_sondage.attendance}" />
                        <td style="font-size: 20; color: #ededed; border: 1px solid white;text-align: center" th:text="CREATEUR" />

                        <!--  ******  CHANGEMENT *******  -->

<!--                        <td>-->
<!--                            <a  target="/home">-->
<!--                                <button class="btn btn-lg btn-primary deleteBtn"-->
<!--                                        th:onclick="'javascript:deleteSurvey(' + ${all_sondage.survey_id} + ')'"-->
<!--                                        type="Submit" style="margin-right:10px;">-->
<!--                                    X-->
<!--                                </button>-->
<!--                            </a>-->
<!--                        </td>-->

                        <!--  *************************  -->

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <!--  ******  CHANGEMENT *******  -->
        <script>
            function deleteSurvey(survey_id) {
               $.ajax({
                    type: 'DELETE',
                    url: "/home/"+survey_id,
                    contentType: 'text/plain',
                    success:function(response) {
                        console.log("good");
                    },
                    error : function(response){
                        console.log("wrong");
                    }
                });
                document.location.reload();

            }
        </script>
        <!--  *************************  -->

    </body>
</html>