body{
    background-color: #313030;
    /*margin : auto;*/
    margin-top : 150px;
    margin-left:650px;
    width: 630px;


}

.bloc1, .bloc2{

}

.bloc1
{
    color: #ededed;
}

.bloc2
{
    color: #ededed;
    border : 1px solid #ededed ;
}

.bloc3
{
    color: #ededed;
    border : 1px solid #ededed ;
}